.list-pokemons {
    max-width: 200px;
    display: flex;
}

.list-pokemons .pokemon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #fff;
    padding: 0 15px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.25s ease-in-out;
}

.list-pokemons .pokemon:hover {
    transform: scale(1.10);
}

.list-pokemons .pokemon img {
    width: 25%;
    border-radius: 50%;
}

li.pokemon span {
    font-family: 'Poppins';
}

.list-pokemons .pokemon.active {
    background-color: #fa6668;
}